@page
@model IndexModel
@{
    ViewData["Title"] = "Birds Unfiltered";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center py-5">
			<h1>Philadelphia Football Insights, <br />Reactions, and Best Takes!</h1>
			<p>Coming soon...</p>
        </div>
    </div>
    <div class="mb-5 d-flex">
		<img src="https://static.clubs.nfl.com/image/upload/v1643905779/eagles/wme4xbzoejuoxa5cx80s.png" class="w-75 mx-auto" />
    </div>

    @Html.Partial("./Shared/_ArticleCardWidget.cshtml", Model.ArticleWidgetViewModel)
</div>