@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-4">
            Philadelphia Football Insights, Reactions, and Best Takes!
        </div>
    </div>
    <div class="my-5">
		<img src="https://static.clubs.nfl.com/image/upload/v1643905779/eagles/wme4xbzoejuoxa5cx80s.png" class="w-100" />
    </div>
</div>