@using PhillyNews.ViewModels
@using PhillyNews.Models

@model ArticleWidgetViewModel

<div class="container">

	@if(Model.articleCards.Count > 0) {
		<div>
		@foreach (ArticleCard card in Model.articleCards)
		{
			@Html.Partial("_ArticleCard", card)
		}
		</div>
	}
	else {
		<p class="text-center">Articles coming soon.</p>
	}
</div>