@using PhillyNews.Models

@model ArticleCard

<div class="row">
	<div class="pb-3">
		<a asp-page="/Articles/Details" asp-route-slug="@Model.Slug">
			<div class="card border-dark">
				<div class="card-body">
					<h5 class="card-title">@Model.Title</h5>
				</div>
			</div>
		</a>
	</div>
</div>
