@using PhillyNews.Models

@model ArticleCard

<div class="row">
	<div class="w-75 mx-auto pb-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">@Model.Title</h5>
				<p class="card-text">@Model.Preview_Text</p>
			</div>
		</div>
	</div>

</div>
